.important{
  font-family: cursive;
}
.fake{
  font-size: 32px;
  color:blue;
}
.something{
color: green;
}
.nothing{
font-size: 24px;
color:red;
font-weight: bold;
font-family: fantasy;
}
.unimportant{
color:orange;
font-style: italic;
font-weight: bold;
}
p{
  color: purple;
  font-family: sans-serif;
}
.content{
  border: 2px solid white;
  margin-top: 50px;
  margin-bottom: 50px;
}
